[submodule "Paper"]
	path = Paper
	url = https://github.com/PaperMC/Paper.git
[submodule "sidestream/Yatopia"]
	path = sidestream/Yatopia
	url = https://github.com/YatopiaMC/Yatopia.git
	branch = ver/1.17
[submodule "sidestream/EmpireCraft"]
	path = sidestream/EmpireCraft
	url = https://github.com/starlis/empirecraft.git
	branch = ver/1.17
[submodule "sidestream/Purpur"]
	path = sidestream/Purpur
	url = https://github.com/pl3xgaming/Purpur.git
	branch = ver/1.17
[submodule "sidestream/Tuinity"]
	path = sidestream/Tuinity
	url = https://github.com/Tuinity/Tuinity.git
	branch = ver/1.17
