name: Build Sugarcane
on: [ push, pull_request ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ 16 ]
      fail-fast: true
    steps:
      - name: Checkout Git Repository
        uses: actions/checkout@v2
      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: 'adopt'
      - name: Configure Git
        run: |
          git config --global user.email "no-reply@github.com"
          git config --global user.name "Github Actions"
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Apply patches
        run: ./gradlew applyPatches --stacktrace
      - name: Build Paperclip
        run: |
            ./gradlew build paperclipJar --stacktrace
      - name: Upload Sugarcane Paperclip
        uses: actions/upload-artifact@v2
        with:
          name: Sugarcane
          path: sugarcane-paperclip.jar